.input{
  border: 1px solid var(--ion-color-primary);
  margin-bottom: 10px;
  border-radius: 5px;
}

.divNueva{
  border: 2px solid var(--ion-color-primary);
  padding: 5px;
  border-radius: 5px;
}

.error{
  color: var(--ion-color-danger);
}
